---
const bgWebp = "/images/forest/bg.webp";
const bgPng = "/images/forest/bg.jpg"

const middleTreeWebp = "/images/forest/midle_tree.webp";
const middleTreePng = "/images/forest/midle_tree.png"

const lightsWebp = "/images/forest/lights.webp";
const lightsPng = "/images/forest/lights.png"

const poster = "/images/poster.png"

const leftTreeWebp = "/images/forest/left_tree.webp";
const leftTreePng = "/images/forest/left_tree.png"

const birdWebp = "/images/forest/Bird.webp";
const birdPng = "/images/forest/Bird.png"

const butterflyWebp = "/images/forest/Butterfly.webp";
const butterflyPng = "/images/forest/Butterfly.png"


import Picture from "../atoms/Picture/Picture";

import "../../assets/styles/components/sections/forest.scss"
import Bubble from "../atoms/bubble/bubble.astro";
import createPlugin from "@astrojs/sitemap";
---

<section class="emi-forest">
    <Bubble type="button" text="Lucas l’Harmonica"/>
    <Bubble type="button" text="Léon l’Accordéon"/>
    <Bubble type="button" text="Suzette l’Épinette"/>


    <Picture refClass="decore" images={[bgPng, bgPng, bgWebp, bgWebp ]} poster={poster} lazy={true} alt="background "  client:load />

    <Picture refClass="bird-1" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.1}
    scale={1.5}
    parallax={true}
    client:load />
    <Picture refClass="bird-2" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.25 / 2}
    speedY={0.02}
    scale={1}
    parallax={true}
    client:load />
    <Picture refClass="bird-3" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.15}
    scale={1.4}
    parallax={true}
    client:load />

    <Picture refClass="bird-4" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.25 / 2}
    scale={1.4}
    parallax={true}
    client:load />



    <Picture refClass="bf-1" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.1}
    speedY={-0.02}
    scale={1}
    parallax={true}
    client:load />
    <Picture refClass="bf-2" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speedY={-0.05}
    speed={0.15 / 2}
    scale={1.1}
    parallax={true}
    client:load />
    
    <Picture refClass="bf-3" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speedY={-0.02}
    speed={0.25 / 2}
    rotate={-180}
    scale={1.2}
    parallax={true}
    client:load />
    
    <!-- water tree -->
    <Picture refClass="bf-4" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speedY={0.05}
    speed={0.15 /2}
    scale={1.1}
    parallax={true}
    client:load />


    <Picture refClass="bird-5" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.15}
    rotate={180}
    scale={1.2}
    parallax={true}
    client:load />


    <Picture refClass="decore water-tree" images={[middleTreePng, middleTreePng, middleTreeWebp, middleTreeWebp ]} poster={poster} lazy={true} alt="background "  client:load 
    speed={-0.05}
    parallax={true}/>
    <Picture refClass="decore lights" images={[lightsPng, lightsPng, lightsWebp, lightsWebp ]} poster={poster} lazy={true} alt="background " 
    speed={-0.05}
    parallax={true}
     client:load />


     <!-- FIN oiseaux -->
     <Picture refClass="bird-6" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
     speed={0.25 /2}
     scale={1.6}
     speedY={0.05 /2}
     parallax={true}
     client:load />
     <Picture refClass="bird-7" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
     speed={0.1 / 2}
     speedY={-0.05 /2}
     rotate={180}
     scale={1.5}
     parallax={true}
     client:load />
     



     
    <Picture refClass="decore" images={[leftTreePng, leftTreePng, leftTreeWebp, leftTreeWebp ]} poster={poster} lazy={true} alt="background "  
    speed={-0.15}
    parallax={true}
    client:load />

    <!-- devant l'arbre -->
    <Picture refClass="bird-8" images={[birdPng, birdPng, birdWebp, birdWebp ]} poster={poster} lazy={true} alt="background "  
    speed={0.25 }
    rotate={180}
    scale={1.5}
    parallax={true}
    client:load />


    <!-- BISOUS -->
    <Picture refClass="bf-5" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speedY={0.05}
    speed={0.1}
    scale={1}
    rotate={180}
    parallax={true}
    client:load />
    <Picture refClass="bf-6" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={true} alt="background "  
    speedY={0.05}
    speed={0.15}
    scale={1.2}
    rotate={0}
    parallax={true}
    client:load />


</section>