---

const plateform2Webp = "/images/introduction/platform_2.webp";
const plateform2Png = "/images/introduction/platform_2.png"

const mainPlatformWebp = "/images/introduction/main_platform.webp";
const mainPlatformPng = "/images/introduction/main_platform.png"

const peroquetsWebp = "/images/introduction/peroquay.webp"
const peroquetsPng = "/images/introduction/peroquay.png"

const butterflyWebp = "/images/introduction/butterfly.webp"
const butterflyPng = "/images/introduction/butterfly.png"


let poster = "/images/poster.png"




import Picture from "../atoms/Picture/Picture";

import "../../assets/styles/components/sections/intro.scss"
import Bubble from "../atoms/bubble/bubble.astro";
---

<section class="emi-introduction">
    <Bubble type="button" text="Madame Guitare"/>
    
    <Picture refClass="decore"images={['/images/introduction/bg.png', "/images/introduction/bg.png", '/images/introduction/bg.webp', '/images/introduction/bg.webp' ]} poster={poster} lazy={false} alt="background "  client:load />
    <Picture speed={-0.05} parallax={true} refClass="decore"images={['/images/introduction/Tree.png', '/images/introduction/Tree.png', '/images/introduction/Tree.webp', '/images/introduction/Tree.webp' ]} poster={poster} lazy={false} alt="background "  client:load />
    <Picture parallax={true} speed={-0.1} refClass="decore"images={['/images/introduction/platform_1.png', '/images/introduction/platform_1.png', "/images/introduction/platform_1.webp", '/images/introduction/platform_1.webp' ]} poster={poster} lazy={false} alt="background "  client:load />
    <Picture parallax={true} speed={-0.15} refClass="decore"images={[plateform2Png, plateform2Png, plateform2Webp, plateform2Webp ]} poster={poster} lazy={false} alt="background "  client:load />
    <Picture parallax={true} speed={-0.2} rotateZ="20" scale="0.8" refClass="parrot-2" images={[peroquetsPng, peroquetsPng, peroquetsWebp, peroquetsWebp ]} poster={poster} lazy={false} alt="background"  client:load />
    <Picture parallax={true} speed={-0.2} refClass="decore"images={[mainPlatformPng, mainPlatformPng, mainPlatformWebp, mainPlatformWebp ]} poster={poster} lazy={false} alt="background "  client:load />
    <Picture parallax={true} speed={-0.5} refClass="parrot-1" images={[peroquetsPng, peroquetsPng, peroquetsWebp, peroquetsWebp ]} poster={poster} lazy={false} alt="background"  client:load />
    <Picture parallax={true} speed={0.3} rotate="-180" scale="0.4" refClass="butterfly-1" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={false} alt="background"  client:load />
    <Picture parallax={true} speed={0.2} rotateZ="20" scale="0.3" refClass="butterfly-2" images={[butterflyPng, butterflyPng, butterflyWebp, butterflyWebp ]} poster={poster} lazy={false} alt="background"  client:load />
</section>