---
import "../../assets/styles/components/sections/transition.scss";
import Picture from "../atoms/Picture/Picture";
const poster = "/images/poster.png"
const BgForestJPG = "/images/transition/BG-forest.jpg"
const BgForestWEBP = "/images/transition/BG-forest.webp"
const BgGrotteJPG = "/images/transition/BG-Grotte.jpg"
const BgGrotteWEBP = "/images/transition/BG-Grotte.webp"

const FrontForestJPG = "/images/transition/Front_trees.png"
const FrontForestWEBP = "/images/transition/Front_trees.webp"
const lacBGJPG = "/images/transition/lacBG.png"
const lacBGWEBP = "/images/transition/lacBG.webp"

const rockJpg = "/images/transition/rock.png"
const rockWebp = "/images/transition/rock.webp"

const { titre } = Astro.props
---

<section 

class="emi-transition"
>
    {
        titre==="La Forêt" ? 
        <Picture refClass="bg-forest" images={[BgForestJPG, BgForestJPG, BgForestWEBP, BgForestWEBP ]} poster={poster} lazy={true} alt="background "  client:load /> 
        : <></>
    }
    {
        titre==="Le Lac" ? 
        <Picture refClass="bg-forest" images={[lacBGJPG, lacBGJPG, lacBGWEBP, lacBGWEBP ]} poster={poster} lazy={true} alt="background "  client:load /> 
        : <></>
    }
    {
        titre==="La Caverne" ? 
        <Picture refClass="bg-forest" images={[BgGrotteJPG, BgGrotteJPG, BgGrotteWEBP, BgGrotteWEBP ]} poster={poster} lazy={true} alt="background "  client:load /> 
        : <></>
    }
    <div
    class={"emi-transition-pannel emi-img-render " + `${titre==="La Caverne" ? "La_Caverne" : ""}`} 
        data-parallax="false"
        data-parallax-speed={0}
        data-parallax-speed-y={0}
        data-scale={1}
        data-rotate={0}
    >
    <h1>{titre}</h1>
    </div>
    {
        titre==="La Forêt" ? 
        <Picture refClass="front-forest" images={[FrontForestJPG, FrontForestJPG, FrontForestWEBP, FrontForestWEBP ]} poster={poster} lazy={true} alt="background "  client:load />
        :<></>
    }
    {
        titre==="La Caverne" ? 
        <Picture speed={-0.1} parallax={true} refClass="front-cavern" images={[rockJpg, rockJpg, rockWebp, rockWebp ]} poster={poster} lazy={true} alt="background "  client:load />
        :<></>
    }
</section> 
